.main-screen {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: -108px;
    top: -30px;
    width: 740px;
    height: 480px;

    background-image: url("../img/screen-header-ellipse.svg");
    background-repeat: no-repeat;
    background-size: 740px 480px;
    background-position: right top;
    user-select: none;
    pointer-events: none;
  }


  @media (max-width: $breakpoint1450) {
    margin-top: 40px;

    &::before {
      top: -70px;
    }
  }


  // .main-screen__inner

  &__inner {}

  // .main-screen__header

  &__header {
    margin-bottom: 154px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 80px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 40px;
    }
  }

  // .main-screen__main

  &__main {
    margin-bottom: 168px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 80px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 40px;
    }
  }
}

.screen-header {

  // .screen-header__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 40px;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  // .screen-header__info

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    flex: 0 1 800px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
    }
  }

  // .screen-header__krow

  &__krow {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    color: #7f60f9;

    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }
  }

  // .screen-header__title

  &__title {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 70px;
    line-height: 130%;
    color: var(--white-color);

    @media (max-width: $breakpoint992) {
      font-size: 48px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 28px;
    }
  }

  // .screen-header__text

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #909aa8;

    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .screen-header__links

  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    margin-bottom: -100px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 0;
      flex-direction: row;
      column-gap: 20px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  // .screen-header__view

  &__view {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    min-width: 340px;
    width: 100%;
    min-height: 96px;
    border-radius: 18px;
    padding: 16px;

    /* Border */
    border: 2px solid transparent;
    background:
      linear-gradient(to right, #1a0f23, #1a0f23),
      linear-gradient(135deg, #b66dff 0%, #5b38e7 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    transition: 0.2s linear;

    @media (hover:hover) {
      &:hover {
        background:
          linear-gradient(to right, #0a0513, #0a0513),
          linear-gradient(135deg, #b66dff 0%, #5b38e7 100%);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;

        .screen-header__view-arrow {
          transform: translateX(5px) translateY(-3px);
        }
      }
    }

    @media (max-width: $breakpoint992) {
      min-height: 76px;
    }

    @media (max-width: $breakpoint768) {
      min-width: fit-content;
    }
  }

  // .screen-header__view-text

  &__view-text {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: var(--white-color);

    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }
  }

  // .screen-header__view-arrow

  &__view-arrow {
    transition: transform 0.2s linear;
  }

  // .screen-header__tg

  &__tg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    margin-left: auto;
    min-width: 74px;
    border-radius: 13px;
    background: linear-gradient(135deg, #b66dff 0%, #5b38e7 100%);

    @media (hover:hover) {
      &:hover {
        .screen-header__tg-icon {
          transform: scale(1.2);
        }
      }
    }
  }

  // .screen-header__tg-icon

  &__tg-icon {
    transition: transform 0.2s linear;
  }

  // .screen-header__tg-green

  &__tg-green {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #11E559;
    border: 4px solid #0e0818;
  }
}

.screen-main {

  // .screen-main__inner

  &__inner {
    display: flex;
    align-items: flex-start;
    column-gap: 68px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 40px;
    }
  }

  // .screen-main__aside

  &__aside {
    flex: 0 0 372px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
    }
  }

  // .screen-main__aside-content

  &__aside-content {
    border-radius: 25px;
    padding: 32px 24px;
    background-color: #1a0f23;
  }

  // .screen-main__aside-title

  &__aside-title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 32px;
    color: var(--white-color);
  }

  // .screen-main__aside-users

  &__aside-users {
    display: flex;
    flex-direction: column;

    .screen-main__user {
      padding: 24px 0;
      border-bottom: 1px solid #39244b;
    }
  }

  // .screen-main__user

  &__user {
    display: flex;
    align-items: center;
  }

  // .screen-main__user-icon

  &__user-icon {
    margin-right: 8px;
  }

  // .screen-main__user-name

  &__user-name {
    margin-right: 16px;
  }

  // .screen-main__user-rt

  &__user-rt {
    display: flex;
    align-items: center;
  }

  // .screen-main__user-text

  &__user-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: var(--white-color);
  }


  // .screen-main__user-favorite

  &__user-favorite {
    margin-left: 8px;
  }

  // .screen-main__user-text--green

  &__user-text--green {
    color: #11e559;
  }

  // .screen-main__aside-tags

  &__aside-tags {
    padding: 24px;
    margin: 20px -24px -32px;
    border-radius: 24px;
    background-color: #251532;
  }

  // .screen-main__aside-tags-label

  &__aside-tags-label {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #8c72a2;
  }

  // .screen-main__aside-tags-list

  &__aside-tags-list {
    display: flex;
    align-items: center;
    column-gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
  }

  // .screen-main__info-tag

  &__info-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 16px;
    border: 1px solid transparent;
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: var(--white-color);
    cursor: pointer;
    transition: border 0.2s linear;

    @media (hover:hover) {
      &:hover {
        border-color: var(--white-color);
      }
    }
  }

  // .screen-main__info-tag--grey

  &__info-tag--grey {
    background-color: #326c8b;
  }

  // .screen-main__info-tag--blue

  &__info-tag--blue {
    background-color: #3538cd;
  }

  // .screen-main__info-tag--orange

  &__info-tag--orange {
    background-color: #c4320a;
  }

  // .screen-main__aside-tags-btn

  &__aside-tags-btn {
    display: flex;
    align-items: center;
    column-gap: 4px;
    background-color: transparent;
    border: 0;
    outline: 0;

    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #7f60f9;
  }

  // .screen-main__aside-btn

  &__aside-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    min-height: 96px;
    padding: 16px;
    border-radius: 18px;
    background: linear-gradient(135deg, #b66dff 0%, #5b38e7 100%);

    font-family: var(--second-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: var(--white-color);

    @media (hover:hover) {
      &:hover {
        img {
          transform: rotate(90deg);
        }
      }
    }

    img {
      transition: transform 0.3s linear;
    }
  }

  // .screen-main__content

  &__content {
    flex: 1 1 auto;
  }

  // .screen-main__form

  &__form {
    margin-bottom: 52px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 40px;
    }
  }

  // .screen-main__search

  &__search {
    position: relative;
  }

  // .screen-main__search-img

  &__search-img {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  // .screen-main__search-input

  &__search-input {
    width: 100%;
    height: 62px;
    padding: 12px 12px 12px 44px;
    border-radius: 12px;
    border: 2px solid transparent;
    outline: 0;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    background-color: #1a0f23;

    font-family: var(--font-family);
    font-weight: 500;
    line-height: 120%;
    font-size: 16px;
    color: var(--white-color);

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #8c72a2;
    }

    @media (hover:hover) {
      &:hover {
        background:
          linear-gradient(to right, #1a0f23, #1a0f23),
          linear-gradient(135deg, #b66dff 0%, #5b38e7 100%);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
      }
    }

    &:active,
    &:focus {
      background:
        linear-gradient(to right, #1a0f23, #1a0f23),
        linear-gradient(135deg, #b66dff 0%, #5b38e7 100%);
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
    }
  }

  // .screen-main__rows

  &__rows {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @media (max-width: $breakpoint768) {
      row-gap: 24px;
    }
  }

  // .screen-main__row

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #352146;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 24px;
    }
  }

  // .screen-main__info

  &__info {
    flex: 0 1 578px;

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
    }
  }

  // .screen-main__info-texts

  &__info-texts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 16px;
    margin-top: 10px;
  }

  // .screen-main__info-date

  &__info-date {
    font-weight: 300;
    font-size: 14px;
    color: #8c72a2;
  }

  // .screen-main__info-title

  &__info-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .screen-main__info-text

  &__info-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: var(--white-color);

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }
  }

  // .screen-main__info-tags

  &__info-tags {
    display: flex;
    align-items: center;
    column-gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
  }

  // .screen-main__price

  &__price {
    flex: 0 1 222px;

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      width: 100%;
    }
  }

  // .screen-main__price-label

  &__price-label {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #667085;

    @media (max-width: $breakpoint768) {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  // .screen-main__price-sum

  &__price-sum {
    margin-bottom: 32px;
    font-family: var(--second-family);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #7f60f9;

    @media (max-width: $breakpoint768) {
      text-align: left;
    }
  }

  // .screen-main__price-icon

  &__price-icon {}

  // .screen-main__view

  &__view {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    max-width: 222px;
    width: 100%;
    min-height: 60px;
    border-radius: 10px;
    padding: 16px;

    /* Border */
    border: 1px solid transparent;
    background:
      linear-gradient(to right, #1a0f23, #1a0f23),
      linear-gradient(135deg, #b66dff 0%, #5b38e7 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    transition: 0.2s linear;

    @media (hover:hover) {
      &:hover {
        background:
          linear-gradient(to right, #0a0513, #0a0513),
          linear-gradient(135deg, #b66dff 0%, #5b38e7 100%);
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;

        .screen-main__view-arrow {
          transform: translateX(3px) translateY(-2px);
        }
      }
    }

    @media (max-width: $breakpoint768) {
      max-width: 100%;
      width: 100%;
    }
  }

  // .screen-main__view-text

  &__view-text {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    text-align: right;
    color: var(--white-color);
  }

  // .screen-main__view-arrow

  &__view-arrow {
    transition: transform 0.2s linear;
  }

  // .screen-main__user-text--orange

  &__user-text--orange {
    color: #c4320a;
  }
}