// ************************ Модальное окно ************************ //
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(60px);
  background: rgba(50, 26, 68, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: fade 0.3s linear;
}

.modal.show {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 1;
}

.modal {

  // .modal__wrapper

  &__wrapper {
    max-width: 1340px;
    width: 100%;
    margin-left: 232px;
    margin-right: 108px;
    padding: 60px 0 20px;
    overflow: hidden;

    @media (max-width: $breakpoint1450) {
      margin-left: 160px;
      margin-right: 60px;
    }

    @media (max-width: $breakpoint992) {
      margin: 0;
    }
  }

  // .modal__form

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
  }

  // .modal__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 32px 60px 100px;

    background-color: #0a0513;
    // background-color: #fff;
    border-radius: 28px;


    @media (max-width: $breakpoint992) {
      padding: 32px;
    }


    @media (max-width: $breakpoint768) {
      padding: 12px;
      border-radius: 12px;
    }
  }

  // .modal__head

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }

  // .modal__title

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #fff;

    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }
  }

  // .modal__close

  &__close {
    background-color: transparent;
    border: 0;
    outline: 0;
  }

  // .modal__close-icon

  &__close-icon {}

  // .modal__content

  &__content {}

  // .modal__footer

  &__footer {
    padding-right: 5px;
  }

  // .modal__footer-tg

  &__footer-tg {
    margin-left: auto;
  }
}