// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Fonts
:root {
  //fonts
  --font-family: "Inter", sans-serif;
  --second-family: "Plus Jakarta Sans", sans-serif;
  //colors

  --white-color: #ffffff;
  --fiol-second: #352146;
  --fiol-bg: #0a0513;
}